# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with Litmus
*.out

# Dependency directories
vendor/

# Air
tmp/
build-errors.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# Enviroment variables
.env
.env*

# Database
db/GoShort.db*
